GeoDecoder.Verification/Connected Services/VerificationWebService/ws_SearchAddressElementByFullName.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/ws_" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ws_SearchAddressElementByFullName" targetNamespace="http://www.informatica.com/dis/ws/ws_" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://www.informatica.com/dis/ws/ws_" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="AddressElementNameData">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AddressElementFullNameList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="AddressElementFullNameGroup">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="FullAddress" type="xs:string" />
                        <xs:element minOccurs="0" name="District" type="xs:string" />
                        <xs:element minOccurs="0" name="City" type="xs:string" />
                        <xs:element minOccurs="0" name="Locality" type="xs:string" />
                        <xs:element minOccurs="0" name="Street" type="xs:string" />
                        <xs:element minOccurs="0" name="House" type="xs:string" />
                        <xs:element minOccurs="0" name="MaxResult" type="xs:integer" />
                        <xs:element name="SystemCode" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AddressElementNameResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AddressElementResponseList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="AddressElementNameGroup">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="QualityCode" type="xs:string" />
                        <xs:element name="CheckStatus" type="xs:string" />
                        <xs:element minOccurs="0" name="ParsingLevelCode" type="xs:string" />
                        <xs:element name="SystemCode" type="xs:string" />
                        <xs:element minOccurs="0" name="GlobalID" type="xs:string" />
                        <xs:element name="KLADRLocalityId" type="xs:string" />
                        <xs:element name="FIASLocalityId" type="xs:string" />
                        <xs:element minOccurs="0" name="KLADRStreetId" type="xs:string" />
                        <xs:element minOccurs="0" name="FIASStreetId" type="xs:string" />
                        <xs:element minOccurs="0" name="Street" type="xs:string" />
                        <xs:element minOccurs="0" name="StreetKind" type="xs:string" />
                        <xs:element minOccurs="0" name="House" type="xs:string" />
                        <xs:element minOccurs="0" name="HouseLitera" type="xs:string" />
                        <xs:element minOccurs="0" name="CornerHouse" type="xs:string" />
                        <xs:element minOccurs="0" name="BuildingBlock" type="xs:string" />
                        <xs:element minOccurs="0" name="BuildingBlockLitera" type="xs:string" />
                        <xs:element minOccurs="0" name="Building" type="xs:string" />
                        <xs:element minOccurs="0" name="BuildingLitera" type="xs:string" />
                        <xs:element minOccurs="0" name="Ownership" type="xs:string" />
                        <xs:element minOccurs="0" name="OwnershipLitera" type="xs:string" />
                        <xs:element minOccurs="0" name="FIASHouseId" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ErrorField" type="xs:string" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SearchAddressElementByFullName">
    <wsdl:part name="parameter" element="tns:AddressElementNameData" />
  </wsdl:message>
  <wsdl:message name="FaultMessage">
    <wsdl:part name="FaultMessage" element="tns:ErrorField" />
  </wsdl:message>
  <wsdl:message name="SearchAddressElementByFullNameResponse">
    <wsdl:part name="parameter" element="tns:AddressElementNameResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSearchAddrElByFullNamePortType">
    <wsdl:operation name="SearchAddressElementByFullName">
      <wsdl:input name="SearchAddressElementByFullName" message="tns:SearchAddressElementByFullName" />
      <wsdl:output name="SearchAddressElementByFullNameResponse" message="tns:SearchAddressElementByFullNameResponse" />
      <wsdl:fault name="FaultMessage" message="tns:FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_SearchAddressElementByFullNameSoapBinding" type="tns:wsSearchAddrElByFullNamePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAddressElementByFullName">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="SearchAddressElementByFullName">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchAddressElementByFullNameResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessage">
        <soap:fault use="literal" name="FaultMessage" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_SearchAddressElementByFullName">
    <wsdl:port name="WsSearchAddrElByFullNamePortTypeImplPort" binding="tns:ws_SearchAddressElementByFullNameSoapBinding">
      <soap:address location="http://10.42.78.144:8081/PONWebServices/WsSearchAddrElByFullNamePortType" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>